<a href="https://colab.research.google.com/github/its-kanii/SQL-DCL-Commands/blob/main/dcl_commands_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Control Language (DCL) Commands in SQL
DCL commands are used to control access to data within a database.

The two primary DCL commands are:

1.GRANT – Provides specific privileges to users or roles.

2.REVOKE – Removes previously granted privileges from users or roles.

#1. GRANT Command
The GRANT command gives specific privileges to a user or role in the database.

**Syntax**

In [ ]:
%%sql
GRANT privilege_name ON object_name TO user_name;

**Example**

Granting the SELECT privilege on the employees table to a user named john:

In [ ]:
%%sql
GRANT SELECT ON employees TO john;

**Real-Time Use Case**

Suppose a company has a payroll database, and the HR department needs access to employee details but should not modify them. The administrator can grant the HR team SELECT privileges on the employees table.

In [ ]:
%%sql
GRANT SELECT ON payroll_db.employees TO hr_team;

#2. REVOKE Command
The REVOKE command removes access rights or privileges from users or roles.

**Syntax**

In [ ]:
%%sql
REVOKE privilege_name ON object_name FROM user_name;

**Example**

Revoking the SELECT privilege from user john on the employees table:

In [ ]:
%%sql
REVOKE SELECT ON employees FROM john;

**Real-Time Use Case**

If an employee in the HR team is transferred to a different department, their access to payroll data should be removed:

In [ ]:
%%sql
REVOKE SELECT ON payroll_db.employees FROM hr_team;

#Advanced Example: Granting Multiple Privileges
Granting SELECT and INSERT privileges on the orders table to user mike:

In [ ]:
%%sql
GRANT SELECT, INSERT ON orders TO mike;

Revoking only the INSERT privilege from mike:

In [ ]:
%%sql
REVOKE INSERT ON orders FROM mike;

#Conclusion
* Use GRANT to give necessary permissions to users/roles.
* Use REVOKE to remove permissions when access is no longer required.
* These commands ensure data security and controlled access in databases.